<!--<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
</div>

<button pButton
       (click) = "mostrarNombre()"
       label = "Cambiar nombre"
       icon = "pi pi-check"
       iconPos = "left"
       class = "p-button-help">
</button>

<p-card [header] = " nombre | titlecase " 
        subheader = "Esto es un subheader">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur facilis fugit eius fuga similique dolor eveniet voluptate adipisci sit. Quia vitae est veritatis quisquam esse obcaecati debitis aspernatur assumenda molestias!
</p-card>

<h1> {{valor | number}} </h1>-->

<app-menu></app-menu>

<router-outlet></router-outlet>
